body {
    background-color: #4aefc9;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.content {
    width: 500px;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

#clear-markers-button {
    font-size: 1em;
    background-color: #ff0081;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1em 2em;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
#clear-markers-button:focus {
    outline: none;
}
#clear-markers-button:active {
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

#address-search-input {
    margin-top: 1em;
    font-size: 1em;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 1em 2em;
}
#address-search-input:focus {
    outline: none;
}

/* hide google maps footer */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}